/* Responsividade para mobile */
@media (max-width: 1023px) {
  main {
    margin-left: 0 !important;
  }
  
  app-sidebar aside {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  app-sidebar aside.open {
    transform: translateX(0);
  }
}
